.header{
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    color: white;
}
.header a{
    text-decoration: none;
    color: white;
    padding: 10px;

}
.sectionNav{
    padding: 15px;
    background-color: #2f3543;

}

a.nav_link{
    color: white;
}
a.nav_link_active{
    color: #ccbac4;
}
